{% extends 'adminpages/adminbase.html' %}
{% load humanize %}
{% block title %}Order Detail{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 max-auto">
            <h3>Order Detail</h3><hr>

            <p><span class="font-weight-bold">Order ID: </span> #ORDER_{{ord_obj.id}}</p>
            <p><span class="font-weight-bold">Order Status: </span>{{ord_obj.order_status}}</p>
            <p><span class="font-weight-bold">Order On: </span>{{ord_obj.created_at|timesince}}</p>
            <p><span class="font-weight-bold">Customer Information: </span>By {{ord_obj.ordered_by}}, {{ord_obj.mobile}}</p>
            <p><span class="font-weight-bold">Shipping Adress: </span>By {{ord_obj.shipping_address}} ( {{ord_obj.email}} )</p>

            <h4>Order Items</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>SN.</th>
                        <th>Item</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in ord_obj.cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a target="blank" href="{% url 'Core:product' cp.product.slug %}">{{cp.product.title}} ({{cp.product.id}})</a></td>
                        <td>{{cp.rate}}</td>
                        <td>{{cp.quantity}}</td>
                        <td>{{cp.subtotal}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-right">Total: </th>
                        <th>Rs. {{ord_obj.total|intcomma}}/-</th>
                    </tr>
                </tbody>
            </table>

            <form action="{% url 'Core:adminorderstatuschange' ord_obj.id %}" method="POST">
                {% csrf_token %}
                <select name="status" id="">
                    {% for i, j in allstatus %}
                    <option value="{{i}}" {% if i == ord_obj.order_status %} selected {% endif %}>{{j}}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-info">Change</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}